Exo1.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<!ELEMENT cp (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT adr1 (#PCDATA)>
<!ELEMENT pays (#PCDATA)>
<!ELEMENT ident (nom, prenom, datenaiss)>
<!ELEMENT ville (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT personne (ident, adr1, cp, ville, pays)>
<!ATTLIST personne
	id ID #REQUIRED
>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT personnes (personne+)>
