XMLSpy/factureXPATHCSS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_surface">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:element name="ville" type="xs:string"/>
	<xs:element name="surface">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_surface">
					<xs:attribute name="unite" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="m2"/>
								<xs:enumeration value="m3"/>
								<xs:enumeration value="m"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ref" type="xs:string"/>
	<xs:element name="phtByUnit" type="xs:decimal"/>
	<xs:element name="nbUnit">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="typeUnit" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lignes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ligne" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ligne">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ref"/>
				<xs:element ref="designation"/>
				<xs:element ref="surface" minOccurs="0"/>
				<xs:element ref="phtByUnit"/>
				<xs:element ref="nbUnit"/>
				<xs:element name="stotligne" type="xs:float" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="factures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="facture" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="villeets" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dateeditionXML" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="logourl" use="required"/>
			<xs:attribute name="rsets" type="xs:string" use="required"/>
			<xs:attribute name="cpets" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="adr2ets" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="adr1ets" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="facture">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="client" minOccurs="0"/>
				<xs:element ref="lignes"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="numfacture" type="xs:integer" use="required"/>
			<xs:attribute name="refdevis" type="xs:integer" use="optional"/>
			<xs:attribute name="idclient" type="xs:short" use="required"/>
			<xs:attribute name="datefacture" type="xs:date" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="destinataire" type="xs:string"/>
	<xs:element name="designation" type="xs:string"/>
	<xs:element name="cp" type="xs:string"/>
	<xs:element name="client">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="destinataire"/>
				<xs:element ref="adr1"/>
				<xs:element ref="adr2"/>
				<xs:element ref="cp"/>
				<xs:element ref="ville"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adr2">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="adr1">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
